.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:60px 0 60px 0;
    p {
        font-family:sans-serif;
        font-size:1.1em;
        color: $Desat_Blue;
        line-height: 200%;
    }
}

.section_wrapper {
    width: 1024px;
    // temp
    border: 1px solid red;
}

.section_title {
    display:flex;
    justify-content:center;
    margin-bottom:30px;
    // temp
    border: 1px solid red;
}

.section_article {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    color:$S_Blue;
}